.preset {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .presetArea {
        position: relative;
        height: 540px;
        width: 1062px;
        // overflow: scroll;
        border-radius: 4px;
    }

    .headArea {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 29px;
        padding: 0 8px;
        background-color: #1E252C;
        color: white;

        h2 {
            font-size: 11px;
        }

        a {
            padding: 0;
            border: none;
            font-size: 13px;
        }
    }

    .bodyArea {
        background-color: #56585c;

        .title {
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            width: 60%;
        }      
    }  
}

.printdata {
    padding-bottom: 48px;
}

.printdata-choice.result {
    height: auto;
    min-width: 100%;
    max-width: 100%;
}

.presetdata-choice {
    font-size: 12px;
    height: 471px;
    width: auto;
    overflow: scroll;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto;

    .presetdata-choice-child {
        margin: 20px;
        box-sizing: border-box;

        .presetdata-choice-img {
            border: 4px solid #1e252c;
            height: 220px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .presetdata-choice-title {
            background-color: #3f4249;
            line-height: 16px;
            padding: 3px;
            margin-top: 8px;
            font-size: 14px;
            label{
                margin: 0;
            }
            .radio-input {
                background: transparent;
                display: none;
            }

            .radio-input:hover {
                cursor: pointer;
                opacity: 0.7;
                // display: block;
            }

            .radio-input:hover+.radio-parts:hover {
                cursor: pointer;
                opacity: 0.7;
                // display: block;
            }

            .radio-input:checked+.radio-parts {
                color: #5095fc;
                background: #38475A;
            }

            .radio-input:checked+.radio-parts {
                display: inline-flex;
                align-items: center;
                position: relative;
                width: 100%;
                background-color: #404347;
                border-radius: 3px;
                
            }
            .radio-parts
            {
                display: inline-flex;
                align-items: center;
                position: relative;
                width: 100%;
                padding: 6px 16px 6px 24px;
                background-color: #404347;
                color: #FFFFFF;
            }
            .radio-parts::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 6px;
                transform: translateY(-50%);
                width: 12px;
                height: 12px;
                background-color: #2B2D30;
                border-radius: 50%;
            }

            .radio-input:checked+.radio-parts::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 9px;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #5095fc;
            }
        }
    }
}

.datasheet {
    overflow-x: auto;
   .content{
    display: flex;
    gap: 14px;
    width: 1200px;
    .header {
        font-size: 16px;
        color: var(--text_main);
        margin-bottom: 16px;
    }

    .table {
        margin-bottom: 20px;
    }

    .sub-title {
        font-size: 12px;
        color: var(--text_main);
    }
    .three-model{
        .button{
            display: flex;
            justify-content: end;
        }
    }
    .table-button {
        // float: right;
        margin-bottom: 5px;
        color: var(--text_main);
        font-size: 12px;
        text-align: center;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        background: var(--primary-800);
        cursor: pointer;
      
        &:hover {
          background: var(--primary-600);
        }
    }
   }
}