.tabArea {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 16px 16px 0;
  background: var(--base-900);
  
  .tab-select {
    &-items {
      display: flex;
      list-style: none;
      column-gap: 2px;
      padding: 0;
      margin: 0;
    }
  
    &-item {
      color: var(--text_main);
      font-size: 12px;
      padding: 8px 16px;
      background: var(--base-700);
      cursor: pointer;
  
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &.is-active {
        color: var(--primary);
        background: var(--base-950);
      }
    }
  }
}
#body-container-id{
  background: var(--base-900);
  width: 800px;
  height: 450px;
  border-radius: 7px;
  border: 1px solid black;
  position: absolute;
  z-index: 100;
  top: 223px;
  .headBar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    border-radius: 7px 7px 0 0;
    justify-content: end;
    align-items: center;
    height: 29px;
    padding: 0 8px;
    background-color: black;
    color: white;

    h2 {
        font-size: 11px;
    }

    a {
        padding: 0;
        border: none;
        font-size: 13px;
        cursor: pointer;;
    }
  }
  .bodyBar{
    display: flex;
    flex-direction: row;
   
    .three-container{  
      margin: 30px;   
      display: block;
      width: 350px;
      height: 300px;
    }
    .shape{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      .calculation-point{
        height: 150px;
      }
      .item-guide{
        // background-color: white;
        height: 200px;
      }
    }
  }
}
 
