<div class="barArea">
  <div class="c-subNavArea">
  <nav>
    <ul #subNavArea class="c-subNavArea__nav" [ngClass]="{'has-scrollbar': hasScrollbar, 'no-scrollbar': !hasScrollbar}">
      <li class="c-subNavArea__navItem" *ngFor="let groupe of table_datas; index as i" >
        <a (click)="activePageChenge(i)" id="bar{{i}}" class="c-subNavArea__navItemTitle">
          <span>{{getGroupeName(i)}}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="tabArea">
    <ul *ngIf="!bars.is_review" class="tab-select-items">
      <li class="tab-select-item" [ngClass]="{'is-active': activeTab === 'rebar_ax'}" (click)="setActiveTab('rebar_ax')" translate>bars.rebar_ax</li>
      <li class="tab-select-item" [ngClass]="{'is-active': activeTab === 'rebar_sh'}" (click)="setActiveTab('rebar_sh')" translate>bars.rebar_sh</li>
    </ul>
    <button *ngIf="!bars.is_review" class="preview-button" (click)="preview()" translate>bars.preview_mode</button>
  </div>
</div>
</div>

<div *ngIf="!bars.is_review; else tableView" class="c-sheetArea">
  <app-sheet #grid [options]="options"></app-sheet>
  <app-modal-preview *ngIf="show" [element]="element" (closeModal)="handleClose($event)"></app-modal-preview>
</div>
<ng-template #tableView>
  <div class="previewArea">
    <app-preview-rebar [rebar]="rebar"></app-preview-rebar>
  </div>
</ng-template>