.tabArea {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 16px 16px 0;
  background: var(--base-900);
  
  .tab-select {
    &-items {
      display: flex;
      list-style: none;
      column-gap: 2px;
      padding: 0;
      margin: 0;
    }
  
    &-item {
      color: var(--text_main);
      font-size: 12px;
      padding: 8px 16px;
      background: var(--base-700);
      cursor: pointer;
  
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &.is-active {
        color: var(--primary);
        background: var(--base-950);
      }
    }
  }
}
.c-subNavArea__nav{
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  // margin: 0 0 6px 16px !important;
}
.c-subNavArea__nav.no-scrollbar {
  margin: 0 !important; /* hoặc giá trị margin khác mà bạn muốn sử dụng khi có scrollbar */
  }
  
  .c-subNavArea__nav.has-scrollbar {
    margin: 0 0 6px 16px !important;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #333D46;
}

::-webkit-scrollbar
{
	// width: 5px;
	background-color: #333D46;
  height: 5px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #475059;
}