<div class="c-subNavArea">
  <nav>
    <ul class="c-subNavArea__nav">
      <li class="c-subNavArea__navItem" *ngFor="let groupe of table_datas; index as i" >
        <a (click)="activePageChenge(i)" id="bar{{i}}" class="c-subNavArea__navItemTitle">
          <span>{{getGroupeName(i)}}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="tabArea">
    <ul class="tab-select-items">
      <li class="tab-select-item" [ngClass]="{'is-active': activeTab === 'rebar_ax'}" (click)="setActiveTab('rebar_ax')" translate>bars.rebar_ax</li>
      <li class="tab-select-item" [ngClass]="{'is-active': activeTab === 'rebar_sh'}" (click)="setActiveTab('rebar_sh')" translate>bars.rebar_sh</li>
    </ul>
  </div>
</div>
<div class="c-sheetArea">
  <app-sheet #grid [options]="options"></app-sheet> 
</div>

<div *ngIf="bars.is_review" cdkDrag id="body-container-id">
  <div class="headBar">
    <a (click)="closePreview()">×</a>
  </div>
  <div class="bodyBar">
    <div class="three-container">   
      <app-three [typeView]="'preview'"></app-three>
    </div>
    <div class="shape">
      <div class="calculation-point" *ngIf="calPoint != null">
        <p>Member number: {{calPoint.m_no}}</p>       
        <p>Calculation point name: {{calPoint.p_name}}</p>       
        <p>Cross-section shape: {{calPoint.shape}}</p>        
      </div>
      <div class="item-guide">  
        <app-three [typeView]="'noPreview'"></app-three>
      </div>
    </div>
  </div>
 
</div>

