#body-container-id {
  background: white;
  width: auto;
  height: auto;
  border-radius: 7px;
  border: 1px solid black;
  position: absolute;
  z-index: 9999;
  top: 223px;
  .headBar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    border-radius: 7px 7px 0 0;
    justify-content: end;
    align-items: center;
    height: 29px;
    padding: 0 8px;
    background-color: white;
    color: black;

    h2 {
      font-size: 11px;
    }

    a {
      padding: 0;
      border: none;
      font-size: 13px;
      cursor: pointer;
      ;
    }
  }

  .bodyBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 10px;
    .three-container {
      display: flex;
      justify-content: center;
      height: 300px;
    }

    .shape {
      margin-top: 30px;
      display: flex;
      flex-direction: column;

      .calculation-point {
        height: 150px;
      }

      .item-guide {
        height: 200px;
      }
    }
  }

  .footer-bar {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px 30px 24px 30px;
    #button-show{
      width: 252px;
      border-radius: 4px;
      text-align: center;
      color: white;
      background-color: #00C95F;
      border: unset;
      min-height: 28px; 
      padding: 0px;
      .text{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        #text-b{
          width: 100%;
        }
        #icon-b{
          transform: translateY(40%) rotate(0);
          background-image: url("./../../../assets/icons/icon-arrow.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 8px;
          height: 8px;
          position: absolute;
          right: 8px;
        }
        .active{
          transform: translateY(-12%) rotate(180deg) !important;
        }
      }
    }
    .select:focus-visible{
      border: unset;
      outline: none;
    }
    .dropdown-modal {
    position: absolute;
    background: white;
    color: #00c95f;
    top: 28px;
    width: 252px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 4px;
  }
  .item{
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
  }
  .item p{
    margin: 0;
    padding: 0;
  }
  .item:hover{
    background:#00c95f;
    color: white;
  }
  .active{
    background:#00c95f;
    color: white;
  }
  }
  
}