<div *ngIf="show" cdkDrag id="body-container-id">
    <div class="headBar">
      <a (click)="closePreview()">×</a>
    </div>
    <div class="bodyBar">
      <div class="three-container">   
        <app-three></app-three> 
      </div>     
    </div>
    <div class="footer-bar ">         
        <select >  
            <option ngbDropdownItem (click)="node.drawingRetangle()" translate>
              modal_preview.Rectangle
            </option>
            <option ngbDropdownItem (click)="node.drawingRetangle()" translate>
              modal_preview.TShape
            </option>
            <option ngbDropdownItem (click)="node.drawingRetangle()" translate>
              modal_preview.Circle
            </option>
            <option ngbDropdownItem (click)="node.drawingRetangle()" translate>
              modal_preview.Ring
            </option>
            <option ngbDropdownItem (click)="node.drawingRetangle()" translate>
              modal_preview.HorizontalOval
            </option>
            <option ngbDropdownItem (click)="node.drawingRetangle()" translate>
              modal_preview.VerticalOval
            </option>  
        </select>    
    </div>
  </div>