#gui_css {
    position: fixed;
    top: 300px !important;
}


#myCanvas, #myCanvasRebar{
    position: relative; 
}

#graphics-locator {
    display: none;
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    background: 0 0;
    border: none;
    position: absolute;
    top: 500px;
    left: 500px;
    z-index: 11;
}

#graphics-locator>div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(40,157,204,.1);
    border: 2px solid #289dcc;
    border-radius: 50%;
    margin-left: -50%;
    margin-top: -50%;
    z-index: 11;
}