<div #screen id="screen">
    <div id="screenArea">
        <canvas #myCanvas id="myCanvas" style="overflow: hidden; position: absolute">
        </canvas>
        <div id="graphics-locator" style="left: 396px; top: 456.106px; ">
            <div id="graphics-locator-child" style="width: 60%; height: 60%; top: 20%; left: 20%;"></div>
        </div>
    </div>
  </div>


  <!-- <div #screenRebar id="screenRebar">
    <div id="screenArea">
        <canvas #myCanvasRebar id="myCanvasRebar" style="overflow: hidden; position: absolute">
        </canvas>
        <div id="graphics-locator" style="left: 396px; top: 456.106px; ">
            <div id="graphics-locator-child" style="width: 60%; height: 60%; top: 20%; left: 20%;"></div>
        </div>
    </div>
  </div> -->
