.input-container {
  float: left;
  margin-right: 10px;
}

.form-container {
  display: flex;
  float: none;
  margin-bottom: 15px;
}

.tabArea {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 16px 16px 0;
  background: var(--base-900);

  .tab-select {
    &-items {
      display: flex;
      list-style: none;
      column-gap: 2px;
      padding: 0;
      margin: 0;
    }

    &-item {
      color: var(--text_main);
      font-size: 12px;
      padding: 8px 16px;
      background: var(--base-700);
      cursor: pointer;

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }

      &.is-active {
        color: var(--primary);
        background: var(--base-950);
      }
    }
  }
}

.c-subNavArea__nav {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  // margin: 0 0 6px 16px !important;
}

.c-subNavArea__nav.no-scrollbar {
  margin-bottom: -1px !important;
}

.c-subNavArea__nav.has-scrollbar {
  margin: 0 0 6px 16px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #333D46;
}

::-webkit-scrollbar {
  // width: 5px;
  background-color: #333D46;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #475059;
}

p {
  margin-bottom: 0;
  font-size: 13px;
}

.mega-menu2 {
  width: 470px;
  margin: 0px 0px 20px 16px;
}

.service-life {
  margin-top: 16px;
  gap: 6px;
  align-items: center;
  font-weight: 700;
}

.service-life input {
  border-radius: 4px;
  background: #F5F5F5;
  border: none;
  height: 29px;
  outline: none;
  width: 149px
}

.jA-jB {
  gap: 21px;
  font-weight: 700;
}